@using PropertyBrokers.OrchardCore.WorkflowAdditions.SaveFileToMedia
@model SaveFileToMediaTaskViewModel
<header>
    <h4><i class="fa fa-save"></i> @T["Save To Media"]</h4>
</header>

<fieldset class="form-group" asp-validation-class-for="FileUrl">
    <label asp-for="FileUrl">@T["File URL"]</label>
    <input type="text" asp-for="FileUrl" class="form-control code" />
    <span asp-validation-for="FileUrl"></span>
    <span class="hint">@T["The URL of the file to save. With Liquid support. (Can be controller endpoint)"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="MediaPath">
    <label asp-for="MediaPath">@T["Media Path"]</label>
    <input type="text" asp-for="MediaPath" class="form-control code" />
    <span asp-validation-for="MediaPath"></span>
    <span class="hint">@T["The path in the media library where the file should be saved. With Liquid support."]</span>
</fieldset>
<fieldset class="form-group" asp-validation-class-for="MediaPath">
    <label asp-for="FileName">@T["File Name"]</label>
    <input type="text" asp-for="FileName" class="form-control code" />
    <span asp-validation-for="FileName"></span>
    <span class="hint">@T["The file name that should be saved. With Liquid support, optional with use the returned name from controller otherwise."]</span>
</fieldset>