@{
    var test = Model;
    var test1 = 1;
}
@model PropertyBrokers.OrchardCore.WorkflowAdditions.SaveFileToMedia.SaveToMediaTaskViewModel

<header>
    <h4><i class="fa fa-save"></i>T["Save To Media"])</h4>
</header>

<fieldset class="form-group" asp-validation-class-for="FileUrl">
    <label asp-for="FileUrl">@T["File URL"]</label>
    <input type="text" asp-for="FileUrl" class="form-control code" />
    <span asp-validation-for="FileUrl"></span>
    <span class="hint">@T["The URL of the file to save. With Liquid support. (Can be controller endpoint)"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="MediaPath">
    <label asp-for="MediaPath">@T["Media Path"]</label>
    <input type="text" asp-for="MediaPath" class="form-control code" />
    <span asp-validation-for="MediaPath"></span>
    <span class="hint">@T["The path in the media library where the file should be saved. With Liquid support."]</span>
</fieldset>

<fieldset class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="SaveWithNoFile" />
        <label class="custom-control-label" asp-for="SaveWithNoFile">@T["Save with no file"]</label>
    </div>
    <span class="hint">@T["Check if you want the task to succeed even if no file is found."]</span>
</fieldset>